<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>511284616889-uilfose5td75k3bodtgfcgm61gk5qk2a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.511284616889-uilfose5td75k3bodtgfcgm61gk5qk2a</string>
	<key>API_KEY</key>
	<string>AIzaSyA5jRXVY0t1jjYw_wF70ucT00-V3jhkqDQ</string>
	<key>GCM_SENDER_ID</key>
	<string>511284616889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktokappclone</string>
	<key>PROJECT_ID</key>
	<string>tiktokclone-ae9cb</string>
	<key>STORAGE_BUCKET</key>
	<string>tiktokclone-ae9cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:511284616889:ios:3a91e47478ac62fafd4568</string>
</dict>
</plist>